html, body {
    height: 100%;
}

body {
    background-color: #dcdcdc;
}

.container {
    background-color: #ffffff;
    min-height: 100%;
}

#install_header {
    padding: 1em;
}

#install_nav_bar {
    background-color: #00a3e6;
    color: #ffffff;
    padding: .5em 0;
}

#install_body {
    padding: 1em 0;
}

.container {
    position: relative;
}

#install_footer {
    position: absolute;
    bottom: 0;
    padding: 1em;
    background-color: #00a3e6;
    min-width: 100%;
    color: #ffffff;
}
